menu "Lero Voice Audio Player"

config LERO_PLAYER_TASK_PRIORITY
    int "Player internal task priority (ESP-GMF asp task)"
    default 5
    range 1 18

config LERO_PLAYER_TASK_STACK
    int "Player internal task stack (bytes)"
    default 6144

config LERO_PLAYER_CTRL_TASK_PRIORITY
    int "Player control task priority (loop replay)"
    default 3
    range 1 18

config LERO_PLAYER_CTRL_TASK_STACK
    int "Player control task stack (bytes)"
    default 2048

config LERO_PLAYER_CTRL_TASK_CORE
    int "Player control task core (0=PRO_CPU, 1=APP_CPU)"
    default 1
    range 0 1

config LERO_PLAYER_DEFAULT_VOLUME
    int "Default playback volume (0-100)"
    default 60
    range 0 100

config LERO_PLAYER_DL_TASK_PRIORITY
    int "URL download task priority"
    default 8
    range 1 18

config LERO_PLAYER_DL_TASK_STACK
    int "URL download task stack (bytes)"
    default 6144

config LERO_PLAYER_DL_TASK_CORE
    int "URL download task core (0=PRO_CPU, 1=APP_CPU)"
    default 0
    range 0 1

config LERO_PLAYER_DL_URL_MAX
    int "Max download URL length (bytes)"
    default 256

config LERO_PLAYER_DL_TIMEOUT_MS
    int "HTTP download timeout (ms)"
    default 15000

config LERO_PLAYER_DL_BUFFER
    int "HTTP download buffer size (bytes)"
    default 2048

config LERO_PLAYER_DL_DIR
    string "Download directory on SD card"
    default "/sdcard/download"

endmenu
